<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Hello I am Bhoomika Patel.</h1>
                
                    

                <p>I am durham college student pursuing my degree in Computer Programmer. in Which my major intrerest are Web development.</p>
                <p>Thinking outside the box is my strong point.</p>
                <h2>My full Cv is stated Below:</h2>
                <p>Bhoomika Patel <br/>
                 Oshawa, Ontario L1G 5H3 <br/>
                 bhoomikagovindbhai.patel@dcmail.ca <br/>
                 <h3>Objective</h3>
                 <p>This Portfolio is cretaed as an Assigment For WEBD6201 Course. With the Help of ExpressJS and EJS templating Engine. <br/></p>
                 <h3>EDUCATION</h3>
                 <p>Pursuing computer Programmer Advance diploma in Durham college.<br/>
                    Good hands on C,C++ programming during this course.Also a great knowledge on Web development.
                </p>
                <h3>Relevent Skills</h3>
                <li>Good at communication</li>
                <li>Great troubleshooting Experience</li>
                <li>Can Work alone and also in the big team.</li>

                
                
                
                
                
                

                    ​
                    
                    
                    
                    
            </div>
    </div>
</div>

    